<%= render "partials/navbar.html.erb" %>

<div class="container mt-5">
  <div class="row p-3 align-items-center">
    <div class="col">
      <h1>Events</h1>
    </div>

    <div class="col d-flex justify-content-end">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Upcoming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Past</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="mx-auto border rounded p-3 mt-3" style="max-width: 800px;">
    <h3>Art painting with Laura</h3>

    <ul class="list-unstyled p-0 mt-4">
      <li>
        <span class="fw-bold">Organizer</span> <i class="fa fa-user"></i>: Laura Henderson
      </li>
      <li>
        <span class="fw-bold">Time</span> <i class="fa fa-clock-o"></i>: February 10, 2022
      </li>
      <li>
        <span class="fw-bold">Total Spots</span> <i class="fa fa-list-alt"></i>: 10
      </li>
      <li>
        <span class="fw-bold">Cost</span> <i class="fa fa-dollar"></i>: $10
      </li>
    </ul>

    <div>
      <p class="fw-bold">Description</p>

      <p>This is the description here</p>
    </div>
  </div>
</div>