<%= render "partials/navbar.html.erb" %>

<div class="container mt-5">
  <div class="row p-3 border align-items-center rounded">
    <div class="col">
      <h1>Events</h1>
    </div>

    <div class="col d-flex justify-content-end">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Upcoming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Past</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="mx-auto border rounded p-3 mt-3" style="max-width: 800px;">
    <h3>Art painting with Laura</h3>

    <ul>
      <li>
        Organizer: Laura Henderson
      </li>
      <li>
        Time: February 10, 2022
      </li>
      <li>
        Total Spots: 10
      </li>
      <li>
        Cost: $10
      </li>
    </ul>
  </div>
</div>