<%= render "partials/navbar.html.erb" %>

<div class="container my-5">
  <h1 class="mb-4">Create New Event</h1>

  <%= form_for @new_event, html: { class: "border p-4" } do %>
    <input type="hidden" name="event_date" value="" />

    <div class="fw-bold">Event Name</div>

    <input type="text" name="name" placeholder="Event Name" class="form-control mt-3" required />

    <div class="fw-bold mt-4">Event Date and Time</div>

    <input type="text" name="event_date" placeholder="Event Date and Time" class="form-control mt-3 datepicker d-block" required />

    <div class="fw-bold mt-4">Spots Available (Optional)</div>

    <input type="number" name="total_spots_remaining" placeholder="Spots Available (Optional)" class="form-control mt-3" />

    <div class="fw-bold mt-4">Cost (Optional)</div>

    <input type="number" name="cost" min="0" step=".01" placeholder="Cost (Optional)" class="form-control mt-3" />

    <div class="fw-bold mt-4">Event Description</div>

    <textarea name="description" class="form-control mt-3" placeholder="Event Description" rows="5" required></textarea>

    <div class="fw-bold mt-4">Photos (Optional, Max 4)</div>

    <div id="event-photos-error" class="alert alert-danger mt-2 d-none"></div>

    <div id="event-photos-dropzone" class="dropzone mt-3"></div>

    <div class="mt-4 d-flex">
      <a href="/events" class="btn btn-danger">Cancel</a>
      <button type="submit" class="btn btn-success ms-3">Create Event</button>
    </div>
  </div>
<% end %>
